{% extends "base.html" %}
{% load static %}

{% block title %}Countries{% endblock %}

{% block content %}
<h1>Countries</h1>
<table class="table table-hover align-middle">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Name</th>
            <th>FIFA Code</th>
            <th>Association Acronym</th>
            <th>Continent Region</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for country in countries %}
        <tr>
            <td>
                {% if country.logo %}
                    <img src="{{ country.logo.url }}" alt="{{ country.name }} logo" style="height:40px;">
                {% endif %}
            </td>
            <td>
                <a href="{% url 'geography:country-detail' country.pk %}">
                  {{ country.name }}
                </a>
            </td>
            <td>{{ country.fifa_code }}</td>
            <td>{{ country.association_acronym }}</td>
            <td>
                {% if country.continent_region %}
                    {{ country.continent_region.name }}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'geography:country-update' country.pk %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'geography:country-delete' country.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="6">No countries found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'geography:country-create' %}" class="btn btn-primary">Add Country</a>
{% endblock %}
