shaun/safa_global/templates/geography/worldsportsbody_detail.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}{{ world_body.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h2>{{ world_body.name }} {% if world_body.acronym %}({{ world_body.acronym }}){% endif %}</h2>
        </div>
        <div class="col-auto">
            <a href="{% url 'geography:worldsportsbody-list' %}" class="btn btn-secondary">Back to List</a>
            <a href="{% url 'geography:worldsportsbody-update' world_body.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'geography:worldsportsbody-delete' world_body.pk %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    
    <!-- Rest of your detail template -->
</div>
{% endblock %}