{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'images/safa_logo.png' %}" alt="SAFA Logo" style="height: 30px; margin-right: 10px; vertical-align: middle;">
        SAFA Global Administration
    </a>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/custom_admin.css' %}">
<style>
    #header {
        background: #006633 !important;
        color: #ffffff !important;
    }
    #header a:link, #header a:visited {
        color: #ffffff !important;
    }
</style>
{% endblock %}
