{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
{{ block.super }}
<div class="app-membership_cards module">
    <table>
        <caption>
            <a href="{% url 'membership_cards:admin_select_for_printing' %}" class="section" title="Custom Card Actions">Card Actions</a>
        </caption>
        <tbody>
            <tr>
                <th scope="row">
                    <a href="{% url 'membership_cards:admin_select_for_printing' %}">Generate Print Sheet for Paid Members</a>
                </th>
                <td>Click to select paid members and generate a PDF print batch.</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}