{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center mt-5">Login</h2>
      <div class="card p-4">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <p class="mt-3 text-center">
         Don't have an account? <a href="{% url 'accounts:national_registration' %}">Register here</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
