{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}SAFA - Add New Player{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">Register a New Player for {{ request.user.club.name }}</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Fill out the form below to register a new player. The system will automatically calculate the registration fee based on the player's age and create an invoice.
                    </p>
                    <hr>
                    <form method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ player_form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ player_form.last_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ player_form.date_of_birth|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ player_form.gender|as_crispy_field }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                {{ player_form.id_number|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ player_form.passport_number|as_crispy_field }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                {{ player_form.profile_picture|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ player_form.id_document|as_crispy_field }}
                            </div>
                        </div>
                        <div class="mt-4">
                            <button type="submit" class="btn btn-success w-100">Register Player and Generate Invoice</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
